<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Nodejs example</title>
    <meta name="description" content="">
    <meta name="author" content="">

   
    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">

  </head>
  <body>
 <h1>Name :</h1>
<h1>Height:</h1>
<h1>Mass:</h1>
    <h1>hair_color:</h1>
    <h1>skin_color: </h1>
   <h1>eye_color:</h1>
    <h1>birth_year:</h1>
    <h1>gender: </h1>
  </body>
</html>  